<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<h2> site designed by Vsevolod Gun</h2>
<p title="Пошел нахуй : )"> made with love</p>
<a href="https://google.com"  title="Подсказка" >  ссылка для перехода в гугл </a>
    <br>
    <br>
    <select >
        <option>Человек</option>>
        <option>Обезьяна</option>>
        <option>Кошка</option>>
        <option>Собака</option>>
    </select>
    <br>
<progress max="3.5" value="3.14159" > </progress>
<a> Lorem10 </a>
<table>
    <tr>
        <td> {{ head.firstname }}</td>
        <td> {{ head.lastname }}</td>
        <td> {{ head.age }}</td>
        <td> {{ head.rating }}</td>
    </tr>
    {% for item in student_last %}
    <tr>
        <td> {{ item.firstname }}</td>
        <td> {{ item.lastname }}</td>
        <td> {{ item.age }}</td>
        <td> {{ item.rating }}</td>
    <tr>
        {% endfor %}
</table>

</body>
</html>